* {
    font-size: 0.625rem;
}


.contianer {
    display: grid;
    grid-template-columns: 4fr 4fr 3fr;
    grid-template-rows: 6fr 0.5fr 20fr 0.5fr;
    grid-gap: 10px;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "article article aside"
        "footer footer footer";

    background-color: #19130CFF;
}

header {

    grid-area: header;
    background: linear-gradient(rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)), url('https://images.unsplash.com/photo-1517842264405-72bb906a1936?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
    /* background-repeat: repeat space; */
    background-position: center -20px;

    color: #FEFEFEFF;
    display: flex;

    justify-content: center;

}

nav {
    background-color: #feFeFeFF;
    grid-area: nav;
}

/* section {
    background-color: skyblue;
    grid-area: section;
} */

article {
    background-color: #feFeFeFF;
    grid-area: article;
}

aside {
    background-color: #feFeFeFF;
    grid-area: aside;
    align-self: start;

    /* display: grid; */
}

footer {
    background-color: #19130CFF;
    grid-area: footer;
    border: solid 1px #fff;

}



figure {
    margin: 40px 0 40px 0;
    text-align: center;
    font-size: 1.4rem;
    font-family: "Muli";
    font-style: italic;

}


.header {
    background-color: rgba(0, 0, 0, 0.3);
    height: 30%;
    width: 60%;
    /* align-content: center; */
    margin-top: 170px;
    border:  1px dotted #ddd;

}

.header__mainhead {
    font-size: 4.8rem;
    font-family: "Yeseva One";

    text-align: center;
    line-height: 1.2;
    margin-top: 25px;




}

.header__subhead {
    font-size: 2rem;
    font-family: "Muli";

    text-align: center;
    line-height: 1;
    margin-top: -20px;
    padding: 0 20px 5px 20px;
    pad
}


.nav__list {

    display: flex;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    list-style: none;



}

.nav__link {
    font-size: 3em;
    font-family: "Viga";
    padding: 0 2rem;
    text-decoration: none;
}

.nav__link:link {
    color: #19130CFF;
}

.nav__link:visited {
    color: #19130CFF;
}

.nav__link:hover {
    color: #708791FF;
}



.article__title {
    font-size: 3rem;
    font-family: "Yeseva One";
    width: 90%;
    margin-left: 80px;

}

.article__author {
    font-size: 1.7rem;
    font-family: "Muli";
    margin-left: 80px;
    margin-top: -10px;
}

.article__date {
    font-size: 1.3rem;
    font-family: "Muli";
    margin-left: 80px;
    margin-top: -10px;
}

.article__paragraph--underline {
    border-bottom: dotted #222 1px;
    margin: 0 70px;
}

.article__paragraph {
    font-size: 1.7rem;
    font-family: "Muli";
    display: block;
    margin: 0 auto;
    text-align: justify;
    width: 80%;

}

.article__img {
    width: 60%;
    display: block;
    margin: 0 auto;
    border:  solid #222 2px;
}

.aside__title,
.aside__seemore {
    font-size: 2.5rem;
    font-family: "Yeseva One";
    text-align: center;
    text-decoration: none;
}


.des {
  margin-top: 30px;
    
    font-family: "Muli";
}

.des__img {
    width: 25rem;
    display: block;
    margin: 0 auto;
    border: solid #111 1px;
}

.des__title {
    font-size: 1.8rem;
    text-align: center;
}

.des__desc {
    font-size: 1.6rem;
    text-align: center;
    padding:  0 10px;
}

.aside__seemore--button {
    font-size: 2.3rem;
    background-color: #19130CFF;
    color: #fff;
    width: 40%;
    display: block;
    margin: 30px auto;
    padding:  10px;

}

.seemore__link:link {
    text-decoration: none;
}




.footer__copy {
    font-size: 1.3rem;
    font-family: "Viga";
    color: #EBEBEB99;
    font-style: italic;
    text-align: right;
    padding-right: 20px;
}



